* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Microsoft YaHei', Arial, sans-serif;
    overflow-y: hidden;
}

#hover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 999999;
    transition: background-color 0.5s ease-out;
    will-change: background-color;
}

#container{
    width: 493px;
    position: absolute;
    height: 377px;
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: scale(0.5, 0.5) translateY(50vh);
    -webkit-transform: scale(0.5, 0.5) translateY(50vh);
    will-change: transform;
}

.upShow{
    opacity: 1 !important;
    transform: scale(1, 1) translateY(0) !important;
    -webkit-transform: scale(1, 1) translateY(0) !important;
}

#hover img{
    position: absolute;
}

#hv-cls{
    right: 0;
    cursor: pointer;
}

#hv-jmp{
    bottom: 0;
    left: 143px;
    cursor: pointer;
}


.sec_normal {
    background-image: url(../img/bg_all.png);
    -webkit-transition: transform 0.6s ease;
    -moz-transition: transform 0.6s ease;
    -ms-transition: transform 0.6s ease;
    position: absolute;
    top: 0;
    min-width: 130vh;
}

.full {
    width: 100%;
    height: 100%;
}

.header {
    min-width: 120vh;
    width: 100%;
    height: 10%;
    z-index: 100;
    top: 0;
    position: fixed;
}

.header > div {
    min-width: 120vh;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.5);
}

.logo {
    margin-right: 5%;
}

li.first {
    width: 8vw !important;
}

.coming {
    cursor: pointer;
    min-width: 18vh;
    height: 4vh;
    line-height: 4vh;
    border: 1px solid #fcff0c;
    width: 10vw;
    padding-left: 1vw;
    position: relative;
    float: right;
    top: 2.5vh;
    color: #fcff0c !important;
    margin-right: 1.5vw;
    margin-top: 0.5vh;
    font-size: 2vh;
    overflow: hidden;
}

.soon {
    font-size: 1.5vh;
    display: inline-block;
    color: #1372dc;
    background: #fcff0c;
    width: 2vw;
    float: right;
    height: 4vh;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    line-height: 1;
    padding-top: 0.5vh;
}

.goTop {
    position: fixed;
    height: 5.9vh;
    width: 6vh;
    z-index: 100;
    left: 93vw;
    top: 88vh;
    cursor: pointer;
    background-image: url(../img/backTop.png);
    background-size: 100%;
}

.goTop:hover, .goTop:active {
    background-position-y: 6vh;
}

.sec_content {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    top: 10%;
}

.s1 {
    background-color: #1372DC;
    z-index: 50;
}

.s2 {
    background-color: #088DEA;
    z-index: 40;
}

.s3 {
    background-color: #08b76E;
    z-index: 30;
}

.s4 {
    background-color: #5c6bcb;
    z-index: 20;
}

.s5 {
    background-color: #1372dc;
    z-index: 45;
}

.s6 {
    background-color: #428ee3;
    z-index: 5;
}

.s1_img {
    width: 80%;
    margin: 0 auto;
    height: 75%;
    background-image: url(../img/s1_img1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 65%;
}

.s1_img2 {
    height: 100%;
    width: 40%;
    margin: 0 auto;
}

.s1_img2 > img {
    width: 100%;
    position: relative;
    top: 100%;
}

.s1_info {
    width: 100%;
    height: 25%;
}

.s1_d1 {
    height: 20%;
    display: block;
    position: relative;
    top: 30%;
}

.s1_i1 {
    position: relative;
    top: 35%;
    font-size: 1.8vh;
    color: #eeeeee;
}

.s1_info {
    color: #c3dbf6;
    font-size: 0.75vw;
}

.s1_info_pc {
    float: left;
    width: 30%;
    height: 100%;
    padding-top: 3%;
}

.s1_info_pc .i1 {
    width: 30%;
    margin-right: 7%;
    float: left;
}

.s1_info_pc .i2 {
    width: 70%;
    /*cursor: pointer;*/
}

.s1_info_pc p {
    white-space: nowrap;
    margin-top: 3%;
}

.s1_info_pc > div {
    width: 60%;
    float: left;
}

.s1_qr_div {
    padding-top: 6%;
}

.s1-qr {
    width: 9vw;
    z-index: 55;
}

.s1-qrZoom {
    width: 9vw;
    position: relative;
    top: -14vw;
}

.s2_bg {
    background-image: url(../img/s2_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 55%;
}

.s2_i1 {
    height: 40%;
    width: 100%;
}

.s2_i1 > img {
    height: 30%;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
}

.s2_i2 {
    height: 35%;
    margin: 0 auto;
    position: relative;
    top: 7%;
    text-align: center;
}

.s2_i2 > img {
    height: 100%;
}

.s2_i2_mid {
    margin-left: 15vw;
    margin-right: 15vw;
}

.s3_i1 {
    height: 38%;
    text-align: center;
}

.s3_i1 > img {
    position: relative;
    width: 40%;
    top: 40%;
}

.s3_i2 {
    width: 80%;
    height: 55%;
    margin: 0 auto;
    text-align: center;
}

.s3_i2 > img {
    max-height: 100%;
    width: 100%;
}

.s5_bg {
    background-image: url(../img/s5_bg.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.s5_i1 {
    height: 50%;
    position: relative;
    top: 25%;
}

.s5_i2 {
    height: 10%;
    position: relative;
    top: 20%;
}

.s5_i3 {
    font-size: 2vh;
    text-decoration: none;
    color: #85bfff;
    position: relative;
    top: 25%;
}

.s5_txt {
    background-image: url(../img/s5_bottom_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    color: white;
}

.s5_t1 {
    float: left;
    width: 52.5%;
    padding-top: 6vh;
    margin-left: 7%;
    height: 100%;
}

.s5_t1_p1 {
    font-size: 3vh;
    height: 7vh;
    line-height: 7vh;
    text-indent: 2vw;
}

.s5_t1_p2 {
    margin-left: 2vw;
    font-size: 1.8vh;
    margin-top: 2vh;
    width: 90%;
}

.s5_t1_p2 a {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    overflow: hidden;
    display: inline-block;
}

.no_wrp {
    white-space: nowrap;
    margin-bottom: 1vh;
}

.s5_t2 {
    float: left;
    width: 31%;
    height: 100%;
    padding-top: 6vh;
    margin-left: 2vw;
}

.s5_t2_p1 {
    font-size: 3vh;
    height: 7vh;
    line-height: 7vh;
}

.s5_t2_p2 {
    width: 90%;
    padding-top: 2vh;
    font-size: 1.8vh;
}

.s5_t2_p2 > p {
    margin-bottom: 1vh;
}

.s6_d1 {
    width: 80%;
    margin: 0 auto;
    height: 50%;
    border-bottom: 0.1vh solid rgba(255, 255, 255, 0.5);
}

.s6_d1_p {
    font-size: 2.5vh;
    height: 7vh;
    line-height: 7vh;
    color: white;
}

.s6_d1 > hr {
    border: 0px;
    width: 3vw;
    margin: 0 auto;
    height: 0.1vh;
    background-color: rgba(255, 255, 255, 0.5);
}

.s6_d1 > div {
    height: 8vh;
    line-height: 8vh;
    font-size: 2vh;
}

.s6_d1 a {
    margin: 0 1vw 0 1vw;
}

.s6_d2 {
    width: 80%;
    margin: 0 auto;
    height: 50%;
    color: white;
    text-align: center;
    overflow: hidden;
}

.s6_d2 > p {
    height: 5vh;
    line-height: 5vh;
    font-size: 2.3vh;
    margin-top: 2vh;
}

.s6_qq {
    font-size: 1.7vh;
    width: 25vw;
    height: 5vh;
    margin: 0 auto;
    line-height: 5vh;
}

.s6_qq > div {
    white-space: nowrap;
}

.footer {
    height: 3vh;
    line-height: 3vh;
    font-size: 1.5vh;
}

.content_menu {
    position: relative;
    top: 30%;
    height: 50%;
    list-style: none;
}

.content_menu li {
    white-space: nowrap;
    height: 100%;
    float: left;
    font-size: 2vh;
    text-align: center;
    width: 7vw;
    min-width: 12vh;
}

.content_menu a {
    display: inline-block;
    height: 100%;
    color: white;
}

.content_menu p {
    height: 80%;
}

.content_menu hr {
    border: 0px;
    height: 0.24vh;
    width: 0%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
}

/*------------顶部菜单 鼠标移入 初始化-----------*/
@keyframes menu_init {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes menu_init {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes menu_init {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-ms-keyframes menu_init {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.anm_menu_init {
    animation: menu_init 0.15s linear forwards;
    -moz-animation: menu_init 0.15s linear forwards;
    -webkit-animation: menu_init 0.15s linear forwards;
    -ms-animation: menu_init 0.15s linear forwards;
    -o-animation: menu_init 0.15s linear forwards;
}

/*------------顶部菜单 鼠标移出 渐逝-----------*/
@keyframes menu_fade {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@-webkit-keyframes menu_fade {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@-ms-keyframes menu_fade {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@-moz-keyframes menu_fade {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.anm_menu_fade {
    animation: menu_fade 0.15s linear forwards;
    -moz-animation: menu_fade 0.15s linear forwards;
    -webkit-animation: menu_fade 0.15s linear forwards;
    -ms-animation: menu_fade 0.15s linear forwards;
    -o-animation: menu_fade 0.15s linear forwards;
}

.weibo:hover {
    text-decoration: underline;
}

/*弹窗*/
#hover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 999999;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    transition: background-color 0.5s ease-out;
    will-change: background-color;
}

#hoverContainer{
    width:600px;
    position: absolute;
    height:456px;
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: scale(0.5, 0.5) translateY(400px);
    -ms-transform: scale(0.5, 0.5) translateY(400px);
    -webkit-transform: scale(0.5, 0.5) translateY(400px);
    will-change: transform;
}

.upShow{
    opacity: 1 !important;
    transform: scale(1, 1) translateY(0) !important;
    -webkit-transform: scale(1, 1) translateY(0) !important;
    -ms-transform: scale(1, 1) translateY(0) !important;
}

#hover img{
    position: absolute;
}

#hv-cls{
    right: 20px;
    top: 20px;
    cursor: pointer;
}

#hv-jmp{
    bottom: 40px;
    left: 182px;
    cursor: pointer;
}
